<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxh.house.mapper.CertificateMapper">
    <select id="selectCertificateByOrder" resultType="Certificate">
        select *
        from certificate
        <where>
        <if test="cer.house_id != null">
            AND house_id = #{cer.house_id}
        </if>
        <if test="cer.certificate_type != null">
            AND certificate_type = #{cer.certificate_type}
        </if>
        <if test="cer.house_or_order_id != null">
            AND house_or_order_id = #{cer.house_or_order_id}
        </if>
        </where>
    </select>
</mapper>